<div th:fragment="header">
    <style>
        .rightpic {
         float: right; /* Выравнивание по правому краю */
         margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
        }
       </style>
    <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"> АТП №4 <br> г. Витебска</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="/">Главная</a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link" href="/news">Новости</a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link" href="/contacts">Контакты</a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link" href="/services">Услуги</a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link" href="/shareholders">Акционерам</a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link" href="/job">Вакансии</a>
                    </li>

                        <li class="nav-item">
                        <a class="nav-link" href="/about_us">О нас</a>
                        </li>

                        <li class="nav-item" >
                            <a class="nav-link" href="@{/login}">Авториzация</a>
                            </li>

                            
                        <div >
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Выйти"/> </form>
                        </div>

                    </ul>
                    </div>
        </div>
        </nav>
    </header>
    <div class="mt-5"></div>
</div>